.home_page {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.white_svg {
  filter: brightness(0) invert(1);
}

/* GLOBAL CATEGORY */
.container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top div {
  display: flex;
  flex-direction: row;
}

.container .category_top span {
  color: #041e42;

  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container .category_top a {
  margin-left: 30px;
  color: #041e42;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.container .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

/* GLOBAL PAGEONATION */

.container .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation_box .pagionation_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagionation_main img {
  cursor: pointer;
}

.container .pagionation_main .pagionation_dot {
  width: auto;
  height: auto;
  margin: 0 20px;

  display: flex;
  flex-direction: row;
}

.container .pagionation_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .pagionation_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagionation_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
  border-radius: 50%;
}

.container.hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}

.container .next_prev_box {
  width: 25px;
}

.container.next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

/* PRODUCT CARD */
.container .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.container .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.container .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  background: #0053f6;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  color: #fff;
  text-align: center;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.container .product_img_box:hover .hover_box {
  display: flex;
}

.container .product_content_box {
  width: 100%;
  padding: 5px 22px;
  height: auto;
  box-sizing: border-box;
}

.container .product_content_box .product_title {
  color: #626974;
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.container .product_content_box .product_desc {
  margin-top: 7px;
  height: 56px;
  overflow: hidden;
  color: #041e42;
  text-overflow: ellipsis;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.container .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review_box img {
  margin-right: 5px;
}

.container .review_box span {
  margin-left: 10px;
  color: #626974;

  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.container .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price_box strong {
  color: #041e42;

  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container .price_box span {
  margin-left: 10px;
  color: #626974;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}

/* HEADER */
.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  padding: 15px;
  width: 875px;
  height: 508px;
  position: relative;
  background-color: #0053f6;
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 6px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;
  color: #041e42;

  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
}

.header_frame .header_content .offer_top {
  color: var(--Bg-White, #fff);
  font-family: Jost;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_frame .header_content .offer_bottom {
  color: #fff;

  font-family: Jost;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.header_frame .header_content p {
  margin-top: 10px;
  color: #fff;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header_frame .header_content p span {
  color: #fff;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #fff;
  color: #041e42;
  text-align: center;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 6px;
}

.header_frame .header_right .header_box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .header_box_left .first_part {
  color: #0053f6;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header_frame .header_box_left .price {
  color: #0053f6;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_box_left p {
  margin: 10px 0px;
  color: #041e42;

  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header_frame .header_box_left a {
  color: #041e42;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}

.header_frame .header_box .header_box_right {
  width: 50%;
}

.header_frame .header_box_right img {
  width: 100%;
  height: 100%;
}

/* SERVICE */

.home_page .service_frame {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: #041e42;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.service_frame .service_content p {
  color: #626974;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.service_frame .service_content_first {
  width: 215px;
}

.service_frame .service_content_second {
  width: 195px;
}

.service_frame .service_content_third {
  width: 181px;
}

.service_frame .service_content_fourth {
  width: 181px;
}

/* SHOP CATEGORY */

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  border-radius: 150px;
  border: 1px solid #eaeaea;
  background: var(--Bg-White, #fff);

  display: flex;
  align-items: center;
  justify-content: center;
}

.shop_category_frame .category_box span {
  margin-top: 15px;

  color: #041e42;
  text-align: center;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.shop_category_frame .category_box .category_tvs {
  width: 135.898px;
}

.shop_category_frame .category_box .category_computers {
  width: 136.849px;
}

.shop_category_frame .category_box .category_smart_home {
  width: 55.666px;
}

.shop_category_frame .category_box .category_headphone {
  width: 121.643px;
}

.shop_category_frame .category_box .category_phone {
  width: 114.041px;
}

.shop_category_frame .category_box .category_games {
  width: 171.061px;
}

/* SELLING PRODUCTS */

.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #0053f6;
  text-align: center;

  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #e5edff;
}

/* SPEC PRODUCT */
.home_page .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec_product_frame .container {
  flex-direction: column;
}

.container .spec_product_wrapper {
  margin-top: 35px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_product_wrapper .big_product_box {
  position: relative;
  padding: 30px;
  height: 368px;
  width: 664px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  background: #f3f5f6;
  border-radius: 6px;
}

.big_product_box .big_product_content {
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big_product_content span {
  font-family: "Jost";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: #041e42;
}

.big_product_content p {
  margin: 7px 0;
  font-family: "Jost";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;

  color: #041e42;
}

.big_product_content a {
  font-family: "Jost";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}

.big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.spec_product_wrapper .small_product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small_product_wrapper .small_product_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;

  background: #f3f5f6;
  border-radius: 6px;
}

.small_product_box:nth-child(odd) {
  margin-right: 15px;
}

.small_product_box .small_product_content {
  display: flex;
  flex-direction: column;
}

.small_product_content strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #041e42;
}

.small_product_content span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;

  color: #626974;
}

.small_product_box img {
  position: absolute;
  right: 30px;
  bottom: 15px;
}

.home_page .tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv_frame .container {
  flex-direction: column;
}

.container .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tv_wrapper .tv_product_boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
}

.tv_product_box .product_img {
  width: 100%;
  height: 280px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_page .event_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(/public/images/icons/event_bg.png);
}

.event_frame .container {
  flex-direction: row;
  justify-content: center;
}

.event_frame .container .event_content_box {
  height: auto;
  width: 340px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event_frame .event_content_box .event_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;

  color: #ffffff;
}

.event_frame .event_content_box .timer_wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.event_frame .timer_wrapper .timer_box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.event_frame .timer_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: #ffffff;
}

.event_frame .timer_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.event_frame .event_content_box a {
  width: 140px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  background: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.event_frame .container .event_product_wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.event_frame .event_product_wrapper .event_product_boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.event_frame .event_product_boxes .event_product_box {
  margin-right: 8px;
  height: 392px;
  width: 205px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: white;
}

.event_frame .event_product_box .event_product_img {
  width: 100%;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}
