.shop_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_page .category_top_frame {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #eaeaea;
}

.shop_page .category_top_frame .container {
  height: 50px;
  flex-direction: row;
}

.shop_page .category_top_frame .container div {
  width: 10%;
  display: flex;
  align-items: center;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.shop_page .category_top_frame .container div:hover {
  cursor: pointer;
  border-bottom: 2px solid #041e42;
}

.shop_page .header_frame {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop_page .header_frame .container {
  height: 424px;
  flex-direction: row;

  background: url(../images/icons/shop_header_bg.png);
}

.shop_page .header_frame .header_content {
  margin-left: 75px;
  width: 366px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}

.shop_page .header_content span {
  width: 366px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;

  color: #041e42;
}

.shop_page .header_content p {
  margin: 20px 0;

  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  color: #041e42;
}

.shop_page .header_content a {
  width: 145px;
  height: 52px;

  background: #f5c34b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid #f5c34b;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.shop_page .product_pagination_box {
  margin-top: 100px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.shop_page .product_pagination_main {
  width: 160px;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shop_page .product_pagination_main .pagination_dot {
  width: 82px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_page .pagination_dot .dot {
  width: 17px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.shop_page .dot.active {
  border: 2px solid #112137;
}

.shop_page .dot div {
  width: 4px;
  height: 4px;

  background: #112137;
  border-radius: 50%;
}

/* SHOP CATEGORY */
.shop_page .shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop_page .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_page .container .category_top span {
  color: #041e42;
  font-family: var(--font);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.shop_page .container .category_top a {
  margin-left: 30px;
  color: #041e42;
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.shop_page .container {
  flex-direction: column;
}

.shop_page .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_page .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.shop_page .category_box .category_img_box {
  width: 100%;
  height: 150px;

  border-radius: 150px;
  border: 1px solid #eaeaea;
  background: var(--Bg-White, #fff);

  display: flex;
  align-items: center;
  justify-content: center;
}

.shop_page .category_box span {
  margin-top: 15px;

  color: #041e42;
  text-align: center;

  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.shop_page .category_box .category_tvs {
  width: 135.898px;
}

.shop_page .category_box .category_computers {
  width: 136.849px;
}

.shop_page .category_box .category_smart_home {
  width: 55.666px;
}

.shop_page .category_box .category_headphone {
  width: 121.643px;
}

.shop_page .category_box .category_phone {
  width: 114.041px;
}

.shop_page .category_box .category_games {
  width: 171.061px;
}

/* BRANDS FRAME */

.shop_page .brands_frame {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop_page .brands_frame .container {
  flex-direction: column;
}

.shop_page .spec_title {
  margin-top: 90px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: #041e42;
}

.shop_page .brands_frame .brands_wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.shop_page .brands_wrapper .brand_box {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 35px;

  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  color: #041e42;
}

.shop_page .brands_wrapper .brand_box .active {
  background: #443297;
  color: white;
}

.shop_page .brands_wrapper .brand_box:hover {
  cursor: pointer;
  background: #443297;
  color: white;
}

.shop_page .top_products_frame {
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop_page .top_products_frame .container {
  flex-direction: column;
}

.shop_page .top_products_frame .container .top_products_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_page .top_products_frame .container .top_products_bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.shop_page .product_box {
  padding-top: 60px;
  width: 220px;
  height: auto;

  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.shop_page .product_box .product_box_img {
  width: 100%;
  height: 220px;
}

.shop_page .product_content_box {
  padding: 0px 0px 0px 18px;
  width: 100%;
  height: auto;
}

.shop_page .product_content_box .product_title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;

  color: #626974;
}

.shop_page .product_content_box .product_desc {
  width: 90%;
  height: 56px;
  overflow: hidden;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;

  color: #041e42;
}

.shop_page .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shop_page.review_box img {
  margin-right: 5px;
}

.shop_page.review_box span {
  margin-left: 10px;
  color: #626974;

  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.shop_page .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shop_page .price_box strong {
  color: #041e42;

  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.shop_page .price_box span {
  margin-left: 10px;
  color: #626974;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}

.shop_page .all_products_frame {
  margin: 60px 0px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop_page .all_products_frame .container {
  flex-direction: column;
  align-items: center;
}

.shop_page .all_products_frame .container .frame_info {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eaeaea;
}

.shop_page .frame_info p {
  margin-top: 5px;

  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #041e42;
}

.shop_page .all_products_frame .container .product_filters {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.shop_page .product_filters .filter_box {
  margin-top: 90px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 20px;

  background: #f3f5f6;
  border-radius: 60px;
  cursor: pointer;
}

.shop_page .filter_box select {
  background: none;
  border: none;
  outline: none;

  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #041e42;
}

.shop_page .all_products_frame .container .products_wrap {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shop_page .all_products_frame .container .pro_pagination_box {
  margin-top: 60px;
  width: 460px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_page .pro_pagination_box .next_prev_btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.shop_page .next_prev_btn img {
  width: 15px;
  height: 15px;
}

.shop_page .pro_pagination_box .pagination_number_wrap {
  width: 312px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_page .pagination_number_wrap .pagination_number_box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  cursor: pointer;
}

.shop_page .pagination_number_wrap .pagination_number_box .active {
  background: #f5c34b;
  border: 1px solid #f5c34b;
}

.shop_page .pagination_number_wrap .pagination_number_box:hover {
  background: #f3f5f6;
  border: 1px solid #f3f5f6;
}
